<!-- header -->
<nav class="navbar is-dark">

  <!-- logo -->
  <div class="navbar-brand is-fixed-top" [class.is-transparent]="">
    <a class="navbar-item">
      <img src="../assets/images/developer-logo.webp" alt="animated logo" data-sal="zoom-in" data-sal-delay="500">
    </a>
  </div>
</nav>

<!-- routes will be rendered here -->
<router-outlet></router-outlet>

<section class="hero is-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container" data-sal="slide-up" data-sal-delay="500">
      <h2 class="subtitle">Hello,</h2>
      <p class="title">
        Welcome to my Page! <br>
      </p>
      <h2 class="subtitle is-2"><i>@fahrulalwan</i></h2>
    </div>
  </div>
</section>


<!-- footer -->
<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <div class="content has-text-centered">-->
<!--      <p>-->
<!--        Made with <3 by fahrul alwan-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
