.logo {
  padding: 0;
  margin: 0.5rem;
}


.header-bg {
  width: 50vw;
  height: 100vh;

  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-position: 50%;
  right: 0;

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition-delay: 0.5s;
  }
}

.yellow-bg {
  background-image: url("../assets/images/yellow-backround.webp");
}

