/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma";
@import '../node_modules/sal.js/dist/sal.css';

$fullhd-enabled: false;

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  &:active {
    background: #555;
  }
}

/* montserrat-regular - cyrillic_cyrillic-ext_vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('assets/fonts/montserrat/montserrat-v13-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('assets/fonts/montserrat/montserrat-v13-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 0.2s;

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
      from {background-color: white;}
      to {background-color: transparent;}
    }

    /* Standard syntax */
    @keyframes example {
      from {background-color: white;}
      to {background-color: transparent;}
    }

  }

  -webkit-animation-name: abc; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
  animation-name: abc;
  animation-duration: 0.2s;

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes abc {
    from {background-color: transparent;}
    to {background-color: white;}
  }

  /* Standard syntax */
  @keyframes abc {
    from {background-color: transparent;}
    to {background-color: white;}
  }

}
