/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/layout/all";
@import "../node_modules/bulma/sass/base/minireset";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/image";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/elements/tag";
@import '../node_modules/sal.js/dist/sal.css';

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  &:active {
    background: #555;
  }
}

/* montserrat-regular - cyrillic_cyrillic-ext_vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('assets/fonts/montserrat/montserrat-v13-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('assets/fonts/montserrat/montserrat-v13-cyrillic_cyrillic-ext_vietnamese_latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  image-rendering: smooth;
}
