<section class="h-screen bg-red-300">
  <div class="flex content-center items-center justify-center h-full container mx-auto" contenteditable="true">
    <h1 class="text-6xl text-gray-800 text-center font-display">
      This is font made by me. You can edit as much you want.
    </h1>
  </div>
</section>

<section class="h-screen bg-white">
  <div class="flex content-center items-center justify-center h-full container mx-auto">
    <div class="text-6xl text-gray-800 font-black text-center">
      ...and I'm currently using <span class="border-b-4 border-green-700"><fa-icon [icon]="faAngular"></fa-icon>
      <a href="https://angular.io" target="_blank" class="hover:text-red-700"> Angular 8</a> &
      <a href="https://tailwindcss.com" target="_blank" class="hover:text-teal-500">tailwindcss</a></span>. ❤️
    </div>
  </div>
</section>
