<section class="h-screen pattern top-0 mx-auto">
  <div class="flex content-center items-center justify-center h-full container mx-auto" contenteditable="true">
    <div class="py-56">
      <h1 class="text-7xl text-gray-800 text-center font-display">
        This is font made by me. You can edit as much you want.
      </h1>
    </div>
  </div>
</section>

<section class="relative h-full -mt-16 w-full">
  <div class="bg-black mx-auto w-10/12 h-full">
    <div class="container text-center mx-auto m-32">
      <div class="text-white text-center font-display text-4xl cursor-default">Currently working as software engineer in
        <span class="hover:border-b-4">PT. Jati Piranti Solusindo</span>.
      </div>
    </div>
  </div>
</section>

<section class="h-screen bg-white">
  <div class="flex content-center items-center justify-center h-full container mx-auto">
    <div class="text-6xl text-gray-800 font-black text-center">
      ...and I'm currently using <span class="border-b-4 border-green-700">
      <a href="https://angular.io" target="_blank" class="hover:text-red-700"> <fa-icon [icon]="faAngular"></fa-icon> Angular 8</a> &
      <a href="https://tailwindcss.com" target="_blank" class="hover:text-teal-500">tailwindcss</a></span>. ❤️
    </div>
  </div>
</section>
